.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
.classpath
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
log/
target/
*.ipr
local.properties
bin/
gen/
tmp/
gen-external-apklibs/
~apklib-
classes/
out/